<nav class="navbar" id="eboi-navbar">
    <div class="container">
        <div class="d-flex gap-5 align-items-center">
            <a class="navbar-brand" href="/">
                <img src="/assets/eboi-logo.png" alt="Eboi" height="80">
            </a>
            <ul class="navbar-nav flex-row gap-4">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">O Que Fazemos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Início</a>
                </li>
            </ul>
        </div>
        <div class="d-flex gap-3">
            <a href="/signin" class="btn rounded-pill px-4 py-3 btn-eboi text-light" type="button">Entrar</a>
            <a href="/signin/new" class="btn btn-outline-light rounded-pill ml-2 px-4 py-3" type="button">Cadastre-se</a>
        </div>
    </div>
</nav>