<footer class="px-5 py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-flex justify-content-start align-items-center">
                <img src="/assets/brasil-logo.png" alt="Brasil Logo" style="height: 5em;">
            </div>
            <div class="col"></div>
            <div class="col">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 1</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 2</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 3</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 4</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 5</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 6</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 7</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 8</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 9</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 10</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 11</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 12</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 13</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 14</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 15</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 16</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="nav flex-column align-items-center">
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 17</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 18</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 19</a></li>
                    <li class="nav-item"><a class="nav-link p-0 text-muted" href="#">Link 20</a></li>
                </ul>
            </div>
            <div class="col"></div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <img src="/assets/para-logo.png" alt="Para Logo" style="height: 5em;">
            </div>
        </div>
    </div>
</footer>