<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <title>Eboi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/bootstrap-icons.min.css'>

    <script src='/js/script.js'></script>
</head>
<body class="d-flex flex-column p-0" style="min-height: 100vh;" data-bs-theme="light">
    <!--eboi navbar-->
    <%- include('components/eboi-navbar'); -%>

    <main class="d-flex flex-fill justify-content-center align-items-center py-5" data-bs-theme="light">

    </main>

    <!--eboi footer-->
    <%- include('components/eboi-footer'); -%>

    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="/jquery.mask.min.js"></script>
</body>
</html>