<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/signin">sign in</a>
    <a href="/signin/new">sing up</a>
  </body>
</html>