<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/ootstrap-icons.min.css'>

    <script src='/js/script.js'></script>
</head>
<body class="d-flex flex-column p-0" style="min-height: 100vh;" data-bs-theme="light">
    <%- include('components/gov-navbar'); -%> 

    <!--eboi navbar-->
    <%- include('components/eboi-navbar'); -%> 
    

    <!--eboi interface-->
    <main class="d-flex flex-fill justify-content-center align-items-center py-5" data-bs-theme="light">
        <form action="" class="card rounded-3 shadow p-5 bg-body">
            <div class="d-flex justify-content-center mb-3">
                <img src="/assets/eboi-logo.png" style="width: 8rem;">
            </div>

            <div class="d-flex flex-column gap-4">
                <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-lg" id="email" name="email">
                </div>
                <div>
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control form-control-lg" id="password" name="password">
                </div>
                <div class="d-grid">
                    <button class="btn btn-eboi btn-lg text-light" type="submit" style="height: 3em;">Entrar</button>
                </div>                  
            </div>
        </form>
    </main>

    <!--footer-->
    <%- include('components/gov-footer'); -%>

    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>
</body>
</html>
